<!DOCTYPE html>

<html lang="en">
<head>
<link rel="stylesheet" href="Navigation Css test -1.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dropdown Menu with Search Box | CodingNepal</title>
  <link rel="stylesheet" href="nav1.css">
 </head>
<body>
  <div class="wrapper">
    <nav>
      <input type="checkbox" id="show-search">
      <input type="checkbox" id="show-menu">
      <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
      <div class="content">
      <div class="logo"><a href="#">CHRIMATA</a></div>
        <ul class="links">
          <li><a href="#">Home</a></li>
          <li>
            <a href="#" class="desktop-link">Income</a>
            <input type="checkbox" id="show-features">
            <label for="show-features">Features</label>
            <ul>
              <li><a href="#">add income</a></li>
              <li><a href="#">view incomes</a></li>
            </ul>
          </li>
          <li>
            <a href="#" class="desktop-link">Expense</a>
            <input type="checkbox" id="show-services">
            <label for="show-services">Services</label>
            <ul>
              <li><a href="#">add expense</a></li>
              <li><a href="#">view expense</a></li>
          </ul>
          <li>
            <a href="#" class="desktop-link">reminder</a>
            <input type="checkbox" id="show-services">
            <label for="show-services">Services</label>
            <ul>
              <li><a href="#">add reminder</a></li>
              <li><a href="#">view reminder</a></li>
              </ul>
            </div>
            <li>
              <nav>
                <a href="test profile.html">
                  <img src="C:\Users\bggna\Downloads\profile.png" alt="profile" height="30" width="30">
                </a>
              </nav>
             
      <label for="show-search" class="search-icon"><i class="fas fa-search"></i></label>
      <form action="#" class="search-box">
        <input type="text" placeholder="Type Something to Search..." required>
        <button type="submit" class="go-icon"><i class="fas fa-long-arrow-alt-right"></i></button>
      </form>
    </nav>
  </div>
  <nav>

  <table>
     <link rel="stylesheet" href="viewexpense.css">
            <tr>
              <th>Expense Name</th>
              <th>Expense Amount</th>
              <th> Date</th>
            </tr>
            <tr>
              <td>Amazon purchase</td>
              <td>$3000</td>
              <td>01/01/2022</td>
            </tr>
            <tr>
              <td>Investment Interest</td>
              <td>$500</td>
              <td>01/15/2022</td>
            </tr>
            <tr>
              <td>Rent </td>
              <td>$1000</td>
              <td>02/01/2022</td>
            </tr>
          </table>

</body>  

</html>
